<%- include('partials/header'); %>
<%- include('partials/slider'); %>
<header>
  <div class="header_background flex">
    <div class="logo flex"></div>
  </div>
</header>
<main class="article_box">
  <div class="profile_section flex">      
    <h1 class="title"><%= admin.name %> </h1>
    <p><%= admin.username %></p>
    <h1 class="title"><%= admin.email %> </h1>
    <img class="profile_image" src="/images/uploads/<%= admin.image %>" alt="image">

    <a href="/admin/<%= admin.id %>/editAdmin"><button> Edit Admin </button> </a>   


    <div class="tags"></div>
    <div class="flex flex1">
        <a href="/admin/logout/"><button class="logout_btn> <i class="fas fa-sign-out-alt">Log Out</i></button></a>
    </div>
      
    <div class="">
    </div>
</main>

<%- include('partials/footer'); %>
