<%- include('partials/header'); %>
<header>
  <div class="header_background flex">
    <div class="logo flex"></div>
  </div>
</header>
<main class="article_box">
  <div class="profile_section flex">      
    <h1 class="title"><%= admin.name %> </h1>
    <p><%= admin.username %></p>
    <h1 class="title"><%= admin.email %> </h1>
    
</main>

<%- include('partials/footer'); %>
