<%- include('partials/header'); %> <%- include('partials/slider'); %>
<%- include('partials/navbar'); %>


<main>
  <div id="wrap">
    <div id="columns" class="columns_4">
      <% product.forEach(a => { %>
      <figure>
      <img src="/images/uploads/<%= a.image %>" alt="image" />
      <figcaption> <%= a.name %></h3> </figcaption>
      <span class="price"><i class="fas fa-rupee-sign"></i> <%= a.price %></span>
      <a class="button" href="/catalogue/list/<%= a.id %>">View Product</a>
      </figure>
    <% }); %>
  </div>
  <% if(user.id && user.email === "saurabhguptaviet@gmail.com" ) { %>
  <a href="/catalogue/add_product/" class="button">ADD PRODUCT</a>
  <%} %>
</main>

<%- include('partials/footer'); %>
