<%- include('partials/header'); %>
<%- include('partials/slider'); %>
<header>
  <div class="header_background flex">
    <div class="logo flex"></div>
  </div>
</header>
<main class="article_box">
  <div class="profile_section flex">
    <h1 class="title"><%= admin.name %></h1>
    <p> <%= admin.username %> </p>
    <form action="/catalogue/<%=admin.id %>/edit_product" method="POST" enctype="multipart/form-data">
    <h2 class="Sign Up">Edit Product</h2>
    <% console.log(product, "producr") %>

    <input type="text" placeholder="Name of the Product" name="name" value="<%= product.name %> "/>
    <input type="number" placeholder="Price" name="price" value="<%= product.price %> "/>
    <label for="category">Select a category:</label>
    <select id="category" name="category">
      <option value="menFashion">Men's Fashion</option>
      <option value="womenFashion">Women's Fashion</option>
      <option value="mobile">Mobiles, Computers</option>
      <option value="electronics">TV, Appliances, Electronics</option>
      <option value="home">Home, Kitchen, Pets</option>
      <option value="health">Beauty, Health, Grocery</option>
      <option value="fitness">Sports, Fitness, Bags, Luggage</option>
      <option value="books">Books</option>
      <option value="baby">Toys, Baby Products, Kids Fashion</option>
    </select>
    
    <textarea name="description" id="" cols="30" rows="10" value="<%= product.description %>" ><%= product.description %></textarea>
    <h3>Upload an Image</h3>
    <input type="file" name="image">
    <input class="soft-ui rounded-square update_btn" type="submit" value="Update" />
  </form>
</main>
<%- include('partials/footer'); %>