<!DOCTYPE html>
<html lang="en" class="all_users_HTML">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Article</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body> 
<%- include('partials/slider'); %>

<header>
  <div class="header_background flex">
    <div class="logo flex"></div>
  </div>
</header>

<main class="total_users">
  <% totalUsers.forEach(user => { %>

    <h1>
      Users and their profile
    </h1>
    <table>
      <thead>
        <tr>
          <th>
            Users
          </th>
          <th>
            E-mail
          </th>
          <th>Profile</th>
          <th>Block/Unblock</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th colspan="4">
            Shopping Cart Users
          </th>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <td data-title="Users">
            <%= user.name %>
          </td>
          <td data-title="E-mail">
            <%= user.email %>
          </td>
          <td class="select" data-title="Profile">
            <a class="button" href="#">
              Select
            </a>
          </td>
          <td data-title="Block/Unblock">
            <a class="button" href="#">
              Block
            </a>
            <a class="button" href="#">
              Unblock
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="detail">
      <div class="detail-container">
        <dl>
          <dt>
            Name
          </dt>
          <dd>
            <%= user.name %>
          </dd>
          <dt>
            E-mail
          </dt>
          <dd>
            <%= user.email %>
          </dd>
          <dt>
            Username
          </dt>
          <dd>
            <%= user.username %>
          </dd>
          <dt>
            Verified
          </dt>
          <dd>
            <%= user.isVerified %>
          </dd>
        </dl>
      </div>
      <div class="detail-nav">
        <button class="close">
          Close
        </button>
      </div>
    </div>
  <% }) %>
</main>

<%- include('partials/footer'); %>
