<%- include('partials/header'); %>
<header>
  <div class="header_background flex">
    <div class="logo flex"></div>
  </div>
</header>
<main class="article_box">
  <div class="profile_section flex">      
    <h1 class="title"><%= user.name %> </h1>
    <p><%= user.username %></p>
    <h1 class="title"><%= user.email %> </h1>
    
    <form action="/users/<%= user.id %>/verify" method="POST">
        <input type="text" name="verification" id="" placeholder="Verification Code">
        <button type="submit" name="action">Verify</button>
    </form>
</main>

<%- include('partials/footer'); %>
